<form method="POST" action="/search">
  <div class="form-group">
    <label for="exampleInputSearch1">Search</label>
    <input type="search" name="search" class="form-control" id="exampleInputSearch1" aria-describedby="SearchHelp" placeholder="Enter Search">
    <small id="SearchHelp" class="form-text text-muted">We'll never share your Search with anyone else.</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>